body {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.container {
    border: 1px solid #ddd;
    border-radius: 10px; /* Köşeleri yuvarlatmak için */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 3D benzeri gölgeli sınır */
}

.steps {
    border: 2px solid #F3F3F3
}

.steps-header {
    padding: .375rem;
    border-bottom: 2px solid #F3F3F3
}

    .steps-header .progress {
        height: .25rem
    }

.steps-body {
    display: table;
    table-layout: fixed;
    width: 100%
}

.step {
    display: table-cell;
    position: relative;
    padding: 1rem .75rem;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-right: 2px dashed #dfdfdf;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
    text-align: center;
    text-decoration: none
}

    .step:last-child {
        border-right: 0
    }

.step-indicator {
    display: block;
    position: absolute;
    top: .75rem;
    left: .75rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #F3F3F3;
    border-radius: 50%;
    background-color: #fff;
    font-size: .875rem;
    line-height: 1.375rem
}

.has-indicator {
    padding-right: 1.5rem;
    padding-left: 2.375rem
}

    .has-indicator .step-indicator {
        top: 50%;
        margin-top: -.75rem
    }

.step-icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto;
    margin-bottom: .75rem;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: #888
}

.step:hover {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none
}

    .step:hover .step-indicator {
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        border-color: transparent;
        background-color: #f4f4f4
    }

    .step:hover .step-icon {
        color: rgba(0, 0, 0, 0.9)
    }

.step-active,
.step-active:hover {
    color: rgba(0, 0, 0, 0.9);
    pointer-events: none;
    cursor: default
}

    .step-active .step-indicator,
    .step-active:hover .step-indicator {
        border-color: transparent;
        background-color: #5c77fc;
        color: #fff
    }

    .step-active .step-icon,
    .step-active:hover .step-icon {
        color: #5c77fc
    }

.step-completed .step-indicator,
.step-completed:hover .step-indicator {
    border-color: transparent;
    background-color: rgba(51, 203, 129, 0.12);
    color: #33cb81;
    line-height: 1.25rem
}

    .step-completed .step-indicator .feather,
    .step-completed:hover .step-indicator .feather {
        width: .875rem;
        height: .875rem
    }

@media (max-width: 575.98px) {
    .steps-header {
        display: none
    }

    .steps-body,
    .step {
        display: block
    }

    .step {
        border-right: 0;
        border-bottom: 2px dashed #e7e7e7
    }

        .step:last-child {
            border-bottom: 0
        }

    .has-indicator {
        padding: 1rem .75rem
    }

        .has-indicator .step-indicator {
            display: inline-block;
            position: static;
            margin: 0;
            margin-right: 0.75rem
        }
}

.bg-secondary {
    background-color: #f7f7f7 !important;
}

/* Logo'nun stil özellikleri */
.logo-container {
    text-align: center;
    margin-top: 50px; /* İstenen boşluk */
}

    .logo-container img {
        max-width: 100%;
        max-height: 200px; /* Maksimum yükseklik belirleyin */
        height: auto;
        display: inline-block;
    }

.productstatus {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.65);
}

.customerdetails, .productdetails, .productstatus {
    border: 2px solid #F3F3F3;
    padding: 10px;
    color: rgba(0, 0, 0, 0.65);
    align-items: center;
}

    .productdetails img {
        max-height: 100px;
        max-width: 100px;
        border: 1px solid #F3F3F3;
        border-radius: 50%;
    }


.accordion-row {
    width: 100%;
    margin: 20px;
    color: rgba(0, 0, 0, 0.65);
    border: 2px solid #F3F3F3;
    overflow: hidden;
}

.accordion-header {
    padding: 10px;
    cursor: pointer;
    border: 2px solid #F3F3F3;
    background-color: #555555;
    color: white;
    text-align: center;
}

.accordion-content {
    padding: 10px;
    display: none;
    border: 2px solid #F3F3F3;
}

.accordion-row.active .accordion-content {
    display: block;
}

table {
    width: 100%;
    border-collapse: separate;
}

th, td {
    border: none;
    border-bottom: 2px dashed #e7e7e7;
    padding: 15px;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
}

td {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
}

.accordion-header::after {
    content: '\25BC'; /* ok aşağı yönlü */
    float: right;
}

.accordion.active .accordion-header::after {
    content: '\25B2'; /* ok yukarı yönlü */
}

.garanti {
    width: 100%;
    margin: 20px auto;
    display: flex;
    border: 2px solid #e7e7e7;
    color: rgba(0, 0, 0, 0.65);
}


.left-container {
    flex: 1;
    padding: 20px;
}

.right-container {
    flex: 3;
    padding: 20px;
}

.ariza-text {
    margin-bottom: 20px;
}

.garanti-text {
    font-size: 14px;
    opacity: 0.7;
}

.garanti-belgesi-input {
    margin-top: 10px;
}

.exclamation-mark img {
    width: 50%; /* Resmin genişliği için uygun bir değer belirleyin */
}

.submit-btn {
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #555555;
    border-radius: 5px;
}

.footer {
    text-align: center;
    margin-top: 30px;
}

    .footer img {
        width: 200px; /* Fotoğrafın genişliği için uygun bir değer belirleyin */
    }

button[data-toggle="modal"],
button[data-toggle="modal"]:hover,
button[data-toggle="modal"]:focus,
button[data-toggle="modal"]:active {
    background-color: #555555;
    color: #fff;
    border : none;
}
