@using ServisTakip.Models.Product.response
@model List<ProductResponseModel>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- CSS Libraries -->
<link rel="stylesheet" href="assets/modules/datatables/datatables.min.css">
<link rel="stylesheet" href="assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="assets/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">

<section class="section">
    <div class="section-header">
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
            <div class="breadcrumb-item"><a href="#">Modules</a></div>
            <div class="breadcrumb-item">Müşteriler</div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Cihazlar</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="table-2">
                                <thead>
                                    <tr>

                                        <th>Cihaz Seri NO</th>
                                        <th>Cihaz Adı</th>
                                        <th>Cihaz Türü</th>
                                        <th>Servis Kayıtları</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.ProductSerialNumber</td>
                                            <td>@item.ProductName</td>
                                            <td>@item.ProductType</td>
                                            <td><a href="/Admin/ProductDetails/@item.ProductID" class="btn btn-secondary">Detaylar</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="/Admin/AddProduct" class="btn btn-icon icon-left btn-primary"><i class="far fa-edit"></i> Yeni Cihaz Kaydı Ekle</a>
    </div>
</section>

<!-- JS Libraies -->
<script src="/stisla-1-2.2.0/dist/assets/modules/datatables/datatables.min.js"></script>
<script src="/stisla-1-2.2.0/dist/assets/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="/stisla-1-2.2.0/dist/assets/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
<script src="/stisla-1-2.2.0/dist/assets/modules/jquery-ui/jquery-ui.min.js"></script>

<!-- Page Specific JS File -->
<script src="/stisla-1-2.2.0/dist/assets/js/page/modules-datatables.js"></script>